{
  "plugins": [
    "transform-strict-mode",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": ["flow"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
