{
  "plugins": [
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": ["@babel/preset-flow"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
