{
  "extends": [
    "standard-jsdoc",
    "plugin:flowtype/recommended",
    "makeomatic"
  ],
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0
  }
}
