access = public
public-hoist-pattern[] = '*eslint*'
public-hoist-pattern[] = '@prettier/plugin-*'
public-hoist-pattern[] = '*prettier-plugin-*'
public-hoist-pattern[] = "@swc/*"
public-hoist-pattern[] = "esbuild"
public-hoist-pattern[] = "tsx"
public-hoist-pattern[] = "@esbuild/*"
public-hoist-pattern[] = "@node-rs/*"
public-hoist-pattern[] = "@types/*"
enable-pre-post-scripts = true
