[
  {kernel, [
    {inet_default_connect_options, [{nodelay, true}]},
    {inet_default_listen_options,  [{nodelay, true}]}
  ]},
  {rabbit, [{default_user, <<"guest">>},
           {default_pass, <<"guest">>},
           {loopback_users, []},
           {cluster_partition_handling, autoheal},
           {delegate_count, 64},
           {fhc_read_buffering, false},
           {fhc_write_buffering, false},
           {heartbeat, 60},
           {queue_index_embed_msgs_below, 0},
           {queue_index_max_journal_entries, 8192},
           {log_levels, [{connection, error},
                         {channel, warning},
                         {federation, info},
                         {mirroring, info}]},
           {vm_memory_high_watermark, 0.8},
           {frame_max, 32768},
           {hipe_compile, true},
           {tcp_listen_options, [
             {backlog,   128},
             {nodelay,   true},
             {sndbuf,    196608},
             {recbuf,    196608}
           ]}
  ]}
].